attrs==22.1.0
chess-ai==0.4
colorama==0.4.6
colored==1.4.4
exceptiongroup==1.0.1
iniconfig==1.1.1
mccabe==0.7.0
numpy==1.24.1
packaging==21.3
Pillow==9.3.0
pluggy==1.0.0
pycodestyle==2.9.1
pydocstyle==6.1.1
pyflakes==2.5.0
pygame==2.1.2
pylama==8.4.1
pyparsing==3.0.9
pytest==7.2.0
regex==2022.10.31
snowballstemmer==2.2.0
tomli==2.0.1
utils==1.0.1
